name: Build and Release Extension Catalog

on:
  release:
    types: [released]

defaults:
  run:
    shell: bash
    working-directory: ./

jobs:
  build-extension-catalog:
    uses: jordojordo/ui-chart-workflow/.github/workflows/build-extension-catalog.yml@main
    permissions:
      actions: write
      contents: write
      deployments: write
      id-token: write
      packages: write
      pages: write
      pull-requests: write
    with:
      registry_target: ghcr.io
      registry_user: ${{ github.actor }}
      tagged_release: ${{ github.ref_name }}
    secrets: 
      registry_token: ${{ secrets.GITHUB_TOKEN }}
